@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap");
:root {
  --heading-font-family: "Bree Serif", serif;
  /* --heading-font-family: "Balsamiq Sans", cursive; */
}
*::-webkit-scrollbar {
  display: none;
}
* {
  margin: 0;
  padding: 0;
  cursor: default;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: var(--heading-font-family);
}
i {
  cursor: pointer;
}
.faiconsglobal {
  color: lightseagreen;
}
a {
  text-decoration: none;
  cursor: pointer;
}
ul {
  list-style: none;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2.6rem;
}
h3 {
  font-size: 2.2rem;
}
h4 {
  font-size: 1.8rem;
}
h5 {
  font-size: 1.4rem;
}
h6 {
  font-size: 1rem;
}
section {
  border-bottom: 2px solid white;
}
body {
  background: #0d0c0d;
  color: white;
}
/* GLOBAl */

/* NAV */

/* .nav {
  position: fixed;
  width: 100%;
  z-index: 100;
  top: 0;
} */

nav a {
  text-transform: uppercase;
}
nav a:hover {
  padding: 5px 10px;
  font-size: 1.2em;
  border-radius: 25px;
  background: rgb(66, 153, 240);

  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
/* .navbar {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
} */

.smart-scroll {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}
.scrolled-down {
  -o-transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  transform: translateY(-100%);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.scrolled-up {
  -o-transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

/* NAV */

/* HOME */
.home {
  margin-top: 0 !important;
}

.carousel-inner {
  background-attachment: fixed !important;
  opacity: 0.3;
}
.carousel-inner img {
  max-height: 660px;
}
/* HOME */

/* SECTION PROFILE */
.profile {
  /* text-align: center; */
  word-wrap: break-word;
  padding-bottom: 20px;
  border-bottom: 2px solid white;
}
.profileimg {
  text-align: center;
  background: url("/images/my-images/main.jpg");
  background: url("https://sahilkaushalselfmade.github.io/Portfolio/images/my-images/main.jpg");
  width: auto;
  background-repeat: no-repeat;
  background-position: top right;
  height: auto;
}

.profiletext {
  text-align: left;
}
.faprofileicons {
  background: rgb(66, 153, 240);
  color: white;
  border-radius: 100%;
  padding: 12px;
  margin: 5px;
}
.faprofileicons:hover {
  padding: 20px;
  -o-transition: ease-in-out 0.4s;
  -moz-transition: ease-in-out 0.4s;
  transition: ease-in-out 0.4s;
  margin: 5px;
}

/* SECTION PROFILE */

/* SECTION SERVICES */
.services {
  padding: 50px 10px;
  text-align: center;
  word-wrap: break-word;
}
.servicesheading {
  margin-bottom: 50px;
}
.servicescolumn {
  border: white 1px dotted;
  line-height: 2;
}
.servicescolumn:hover {
  padding: 20px !important;
  background: lightblue;
  color: black;
  transition: 0.7s;
}
.servicescolumn i {
  padding: 20px 0 !important;
}

/* SECTION SERVICES */

/* SECTION RESUME */
.resume {
  text-align: center;
}

#resumebutton {
  margin-bottom: 5px;
  transition: 0.4s;
}
#resumebutton:hover {
  padding: 15px 10px;
  -o-transition: ease-in-out 0.4s;
  -moz-transition: ease-in-out 0.4s;
  transition: ease-in-out 0.4s;
  background: rgb(66, 153, 240);
}
.resumedesc {
  margin-bottom: 10px;
}
/* SECTION RESUME */

/*POPOVER  */
.popover {
  background: transparent;
  border: none;
  text-align: center;
}
.popover-header {
  color: white;
  background: rgb(66, 153, 240);
  border-radius: 25px;
  border: none;
  margin-bottom: 5px;
}
.popover-body {
  background: rgb(66, 153, 240);
  color: white;
  border-radius: 25px;
}
.popover-body img {
  border-radius: 25px;
}
.fapopovericon {
  color: white !important;
}
/*POPOVER  */

/* PORTFOLIO */
.portfolio {
  padding: 10px 0 !important;
}

.portfoliocard {
  border: none;
  border-radius: 25px !important;
  margin: 0 10px;
}
.portfoliocard:hover {
  background: lightblue;
  padding: 5px;
  -o-transition: ease-in-out 0.5s;
  -moz-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
}
.portfoliocard img {
  border-radius: 25px !important;
  border: none;
}
.portfoliocard img:hover {
  opacity: 0.7;
}
.card-body {
  color: black;
}
.portfoliofaicon {
  color: white;
  background: rgb(66, 153, 240);
  padding: 10px;
  border-radius: 100%;
}
.portfoliofaicon:hover {
  padding: 15px;
  -o-transition: ease-in-out 0.3s;
  -moz-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
}
/* PORTFOLIO */

/* CONTACT */
.contact ul p {
  word-wrap: break-word;
}
.contactusicon {
  margin: 10px 0;
}
/* CONTACT */

/* MEDIA QUERIES */
@media (max-width: 768px) {
  .profileimg {
    background-position: top right !important;
    height: 100vh !important;
  }
  .profiletext {
    text-align: center !important;
  }
  h1,
  h2 {
    font-size: 2rem;
  }
}
@media (max-width: 998px) {
  .profileimg {
    background-position: top right !important;
    height: 60vh !important;
  }
  .profiletext {
    text-align: center !important;
  }
}

/* MEDIA QUERIES */
