@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap");
:root {
  --heading-font-family: "Bree Serif", serif;
  /* --heading-font-family: "Balsamiq Sans", cursive; */
}
*::-webkit-scrollbar {
  display: none;
}
* {
  margin: 0;
  padding: 0;
  cursor: default;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: var(--heading-font-family);
}
.faiconsglobal {
  color: lightseagreen;
}
a {
  text-decoration: none;
  cursor: pointer;
}
ul {
  list-style: none;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2.6rem;
}
h3 {
  font-size: 2.2rem;
}
h4 {
  font-size: 1.8rem;
}
h5 {
  font-size: 1.4rem;
}
h6 {
  font-size: 1rem;
}
section {
  margin: 40px auto;
  padding-bottom: 20px;
  /* max-width: 1366px; */
  border-bottom: 2px solid white;
}
body {
  background: #0d0c0d;
  color: white;
}
/* GLOBAl */

/* NAV */

/* .nav {
  position: fixed;
  width: 100%;
  z-index: 100;
  top: 0;
} */

.navbar {
  -webkit-transition: padding 0.2s ease;
  -moz-transition: padding 0.2s ease;
  -o-transition: padding 0.2s ease;
  transition: padding 0.2s ease !important;
}

.smart-scroll {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}
.scrolled-down {
  transform: translateY(-100%);
  transition: all 0.3s ease-in-out;
}
.scrolled-up {
  transform: translateY(0);
  transition: all 0.3s ease-in-out;
}

/* NAV */

/* HOME */
.carousel-inner img {
  max-height: 660px;
}
/* HOME */

/* SECTION PROFILE */
.profile {
  /* text-align: center; */
  word-wrap: break-word;
  padding-bottom: 20px;
  border-bottom: 2px solid white;
}
.profileimg {
  background: url("/images/my-images/main.jpg");
background: url("images/my-images/main.jpg");
  width: auto;

  background-repeat: no-repeat;
  background-position: center;
  height: auto;
}

.profiletext {
  text-align: left;
}
.faprofileicons {
  padding: 10px 30px;
}

/* SECTION PROFILE */

/* SECTION SERVICES */
.services {
  padding: 50px 10px;
  text-align: center;
  word-wrap: break-word;
}
.servicesheading {
  margin-bottom: 50px;
}
.servicescolumn {
  border: white 1px dotted;
  line-height: 2;
}
.servicescolumn:hover {
  padding: 20px !important;
  background: lightblue;
  color: black;
  transition: 0.7s;
}
.servicescolumn i {
  padding: 20px 0 !important;
}

/* SECTION SERVICES */

/* SECTION RESUME */
.resume {
  text-align: center;
}

#resumebutton {
  margin-bottom: 5px;
  transition: 0.4s;
}
#resumebutton:hover {
  padding: 15px 10px;
  transition: ease-in-out 0.4s;
  background: rgb(66, 153, 240);
}
/* SECTION RESUME */

/*POPOVER  */
.popover {
  background: transparent;
  border: none;
  text-align: center;
}
.popover-header {
  color: white;
  background: rgb(66, 153, 240);
  border-radius: 25px;
  border: none;
  margin-bottom: 5px;
}
.popover-body {
  background: rgb(66, 153, 240);
  color: white;
  border-radius: 25px;
}
.popover-body img {
  border-radius: 25px;
}
.fapopovericon {
  color: white !important;
}
/*POPOVER  */

/* MEDIA QUERIES */
@media (max-width: 768px) {
  .profileimg {
    background-position: top right !important;
    height: 100vh !important;
  }
  .profiletext {
    text-align: center !important;
  }
  h1,
  h2 {
    font-size: 2rem;
  }
}
@media (max-width: 998px) {
  .profileimg {
    background-position: top center !important;
    height: 100vh !important;
  }
  .profiletext {
    text-align: center !important;
  }
}

/* MEDIA QUERIES */
